<head>
    {% set url = page.permalink | default(value=config.base_url) | safe %}

    <link rel="preconnect" href="https://media.dinomatic.com" crossorigin />
    <link rel="preconnect" href="https://53EFS57BTW-dsn.algolia.net" crossorigin />
    <link rel="preconnect" href="https://fonts.bunny.net" crossorigin />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script async defer data-domain="docs.dinomatic.com" src="https://plausible.io/js/plausible.js"></script>

    <title>{% block title %}{{ config.title | safe }}{% endblock %}</title>
    <meta name="description" content="{{ page.description | default(value='') | safe }}" />

    <meta property="og:site_name" content="{{ config.title | safe }}" />
    <meta property="og:title" content="{{ page.title | default(value=config.title) | safe }}" />
    <meta property="og:description" content="{{ page.description | default(value='') | safe }}" />
    <meta property="og:url" content="{{ url | safe }}" />
    <meta property="og:image" content="{{ config.base_url | safe }}/images/dinomatic.jpg" />
    <meta property="og:type" content="website" />

    <meta name="twitter:image:alt" content="{{ config.title | safe }}" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="home" href="{{ config.base_url | safe }}" />
    <link rel="icon" href="{{ config.base_url | safe }}/favicon.jpg" />
    <link rel="canonical" href="{{ url | safe }}" />

    <link rel="stylesheet" href="{{ get_url(path='app.css') | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path='docsearch.css') | safe }}" />
</head>
