<!DOCTYPE html>
<html lang="en">
{% include "_head.html" %}

<body class="scroll-smooth font-display text-base antialiased">
    <header class="shadow-sm p-4 sticky top-0 z-50 bg-white">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{{ config.base_url }}" class="text-xl/6 uppercase font-semibold">{{ config.title }}</a>

            <div>
                <button class="search-toggle" id="docsearch">
                    <span class="sr-only">Toggle search form</span>
                    search
                </button>
                <button class="nav-toggle lg:hidden">
                    <svg class="size-[2.4rem] stroke-current" stroke-width="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path class="open opacity-100 transition-opacity duration-200 ease-linear" d="M3 6h18m-10 6h10M6 18h15"></path>
                        <path class="close opacity-0 transition-opacity duration-200 ease-linear" d="M20 20L4 4m16 0L4 20"></path>
                    </svg>
                </button>
            </div>
        </div>
    </header>

    {% block main_styles %} {% endblock %}
    <main class="relative pt-16 pb-16 px-4">

        <div class="container mx-auto grid gap-12 grid-cols-(--main-columns)">
            {% block aside_left %} {% endblock %}

            <article class="page-content bg-white">
                {% block content %} {{ content | safe }} {% endblock %}
            </article>

            {% block aside_right %} {% endblock %}
        </div>
    </main>

    <script src="{{ get_url(path='app.js') }}" defer></script>
</body>
</html>
