<!doctype html>
<html lang="en">
    {% include "partials/head.html" %}

    <body class="font-display scroll-smooth bg-white text-base antialiased">
        {% include "partials/header.html" %} {% block main_styles %} {% endblock %}

        <main class="relative">
            <div class="container mx-auto grid gap-12 lg:grid-cols-(--main-columns)">
                {% block aside_left %} {% endblock %}

                <!-- ... -->
                {% block content %} {{ content | safe }} {% endblock %}

                <!-- ... -->
                {% block aside_right %} {% endblock %}
            </div>
        </main>

        <script src="{{ get_url(path='app.js') }}" defer></script>
        <script src="{{ get_url(path='docsearch.js') }}" defer></script>
    </body>
</html>
