{% extends "base.html" %}

{% import "macros/toc.html" as toc_macros %}
{% import "macros/version.html" as version_macros %}
{% import "macros/navigation.html" as navigation_macros %}
{% block main_styles %}
    <style>
        main {
            --main-columns: 1fr;
            @media (min-width: 1024px) {
                --main-columns: 256px 1fr;
            }
            @media (min-width: 1280px) {
                --main-columns: 256px 1fr 256px;
            }
        }
    </style>
{% endblock %}

{% block title %} {{ page.title }} | {{ config.title }} {% endblock %}

{% block content %}
    {{ page.content | safe }}
{% endblock content %}

{% block aside_left %}
    <aside class="nav-menu hidden lg:block absolute inset-0 lg:static bg-zinc-200 lg:bg-transparent pl-4 sm:pl-0">
        <div class="sticky top-32 h-[calc(100vh-192px)] overflow-y-auto container mx-auto">
            {{ navigation_macros::navigation() }}
        </div>
    </aside>
{% endblock %}

{% block aside_right %}
    <aside class="hidden xl:block bg-white">
        <div class="sticky top-32">
            {{ version_macros::version(page=page) }}
            {{ toc_macros::table_of_contents(toc=page.toc) }}
        </div>
    </aside>
{% endblock %}
