.docsearch {

  --docsearch-searchbox-background: var(--color-gray);
  --docsearch-searchbox-focus-background: var(--color-lighter);
  --docsearch-text-color: var(--color-gray);
  --docsearch-searchbox-shadow: none;

  .DocSearch-Search-Icon {
    --docsearch-text-color: var(--color-bg);
  }
}

.DocSearch-Container {
  --docsearch-modal-background: var(--color-gray);
  --docsearch-modal-shadow: none;
  --docsearch-logo-color: var(--color-lighter);
  --docsearch-highlight-color: var(--color-heading);
  --docsearch-key-gradient: var(--color-lighter);
  --docsearch-footer-background: var(--color-gray);
  --docsearch-searchbox-focus-background: var(--color-lighter);
  --docsearch-searchbox-shadow: none;
  --docsearch-text-color: var(--color-text);
  --docsearch-key-shadow: none;
  --docsearch-hit-background: var(--color-gray);
  --docsearch-hit-shadow: none;
  --docsearch-highlight-color: var(--color-highlight-light);
  --docsearch-hit-color: var(--color-text);
  --docsearch-muted-color: var(--color-text);

  .DocSearch-Form {
    border: 1px solid var(--color-bg);
  }
  .DocSearch-Hit a {
    border: 1px solid var(--color-bg);
  }
}
