.docs-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-menu {
  position: sticky;
  top: 4rem;
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h4 {
    display: inline-block;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    color: var(--color-heading);
    font-size: 1.125rem;
    font-weight: bold;
    border-bottom: 1px solid var(--color-gray);
  }

  h5 {
    font-weight: bold;
  }

  ul {
    padding-left: 0;

    li {
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
    }
  }

  .page-menu-wrapper {
    margin-bottom: 2rem;
  }
}

.banner-section {
  margin-bottom: 2rem;
  padding: 2rem 1rem;

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  & > article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;

    svg {
      grid-row: span 4;
      order: -1;
    }
  }
}

.heading--main,
.heading--secondary {
  margin: 0;

  a,
  span {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-lighter);
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
  }

  a {
    color: var(--color-text);
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;

    &:hover {
      border-color: var(--color-highlight-light);
    }
  }

  span {
    background-color: var(--color-gray);
  }

  svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
}
.heading--main {
  svg {
    fill: var(--color-highlight);
    border-radius: 0.25rem;
  }
}

[data-docs="true"] {
  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;

    &::before {
      content: '';
      display: block;
      height: 4rem;
    }
  }
}

.sub-heading {
  margin-left: 0.5rem;
  font-weight: 700;
  opacity: 0.25;
}

@media (min-width: 768px) {
  .banner-section {
    article {
      svg {
        order: unset;
      }
    }
  }
}

@media (min-width: 992px) {
  .docs-page {
    flex-direction: row;
  }
  .page-menu {
    display: block;
    width: 12rem;
    max-width: 16rem;
  }
}
