.header {
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 4rem 0.5rem 1rem;
  background-color: var(--color-bg);
  border-bottom-width: 1px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  z-index: 10;

  .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo-wrapper {
      display: flex;
      align-items: center;
      flex-shrink: 0;
  }
  .logo {
      display: inline-flex;
      align-items: center;
      padding-right: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--color-heading);

      svg {
          width: 2.25rem;
          height: 2.25rem;
          margin-right: 0.5rem;
          fill: none;
      }
  }
}

.home .header .logo svg {
  margin-left: 1rem;
}
