nav.nav-menu {
    @apply .-mt-12;
    @apply .-mx-8;
    @apply .bg-grey-lighter;
    @apply .mb-8;
    @apply .pb-4;
    @apply .pt-8;
    @apply .px-4;
    @apply .shadow;
    @apply .w-full;
    @apply .z-20;

    @screen lg {
        top: 86px;
        height: calc(100vh - 86px);
        @apply .-mx-4;
        @apply .mt-0;
        @apply .mb-0;
        @apply .pl-0;
        @apply .px-0;
        @apply .bg-transparent;
        @apply .shadow-none;
        @apply .border-b-0;
        @apply .block;
        @apply .w-1/4;
    }
}

.nav-menu__item {
    @apply .block;
    @apply .list-reset;
    @apply .no-underline;
    @apply .mb-3;
    @apply .mt-0;
    @apply .text-grey-darker;
    @apply .text-sm;
    transition: color 0.5s, transform 0.5s;

    &:hover {
        transform: translateX(1px);
    }
}
