.search-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--color-gray);
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0 0.75rem;

    img {
        width: 1rem;
        height: 1rem;
        max-width: none;
    }

    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}

.docsearch-input {
    position: relative;
    display: block;
    height: 2.5rem;
    margin-left: auto;
    padding: 0 1rem;
    text-indent: 1.2rem;
    background-color: var(--color-gray);
    background-image: url('/assets/img/magnifying-glass.svg');
    background-position: 0.8rem;
    background-repeat: no-repeat;
    border: 1px solid var(--color-gray);
    border-radius: 0.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-sizing: border-box;

    &:focus {
        border-color: var(--color-highlight-light);
        width: 100%;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        margin-top: 0.5rem;
        padding: 0 1rem;
        z-index: 10;

        button {
            position: absolute;
            top: 0;
            right: 1.5rem;
            height: 100%;
            padding-left: 0.5rem;
            font-size: 1.875rem;
            font-weight: 300;
            background-color: transparent;
            border: 0 none;
            border-left: 1px solid var(--color-gray);
        }
    }
}

.algolia-autocomplete {
    text-align: right;

    .ds-dropdown-menu {
        width: 100%;
        max-width: 750px !important;
        min-width: auto !important;

        .algolia-docsearch-suggestion {
            .algolia-docsearch-suggestion--content {
                width: 100%;
            }

            .algolia-docsearch-suggestion--text {
                font-weight: normal;
                line-height: 1.4;
            }

            .algolia-docsearch-suggestion--wrapper {
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
            }

            .algolia-docsearch-suggestion--subcategory-column {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .search-toggle {
        display: none;
    }
    .docsearch-input__wrapper {
        position: relative;
        display: block;
        margin-top: 0;
        padding: 0;
        min-width: 420px;

        button {
            display: none;
        }
    }
    .algolia-autocomplete {
        width: 100%;

        .ds-dropdown-menu {
            .algolia-docsearch-suggestion {
                .algolia-docsearch-suggestion--content {
                    width: 66.67%;
                }
                .algolia-docsearch-suggestion--subcategory-column {
                    display: inline-block;
                    width: 33.33%;
                }
            }
        }
    }
}
